<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.myloveqian.model.DictMaster" alias="DictMaster"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/dictMaster.xml"/>
        <mapper resource="mapper/dictDetail.xml"/>
        <mapper resource="mapper/data.xml"/>
    </mappers>
</configuration>